@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Lora:ital@1&Pacifico&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
}

body {
    display: flex;
    background: linear-gradient(-95deg, #F4E8D0, #2EA1DA, #E83879, #FBB845);
    background-size: 100% 120%;
    background-position: 0% 10%;
    height: 50em;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
    height: 230px;
    background-color: rgba(255, 255, 255, 0.258);
    border-radius: 30px;
    box-shadow: -6px 9px 20px 3px rgba(3, 2, 2, 0.6);
    -webkit-box-shadow: -6px 9px 20px 3px rgba(3, 2, 2, 0.6);
    -moz-box-shadow: -6px 9px 20px 3px rgba(3, 2, 2, 0.6);
}

#timer {
    display: flex;
    font-family: 'Noto Serif Khojki', serif;
    justify-content: center;
    align-items: center;
    /* color: rgba(0, 0, 0, 0.7); */
    color: rgba(255, 255, 255, 0.697);
    width: 70%;
    font-size: 72px;
    text-align: 35px;
    margin: 0px auto;
    padding-bottom: 1rem;
    font-weight: 500;
}

.buttons {
    text-align: center;
}

button {
    margin: 0 10px;
    border: none;
    border-radius: 30%;
}

button i {
    font-size: 1.4rem;
    padding: 10px;
    color: rgba(255, 255, 255, 0.846);
    text-align: center;
}

#play {
    background-color: rgba(34, 238, 170, 0.821);
    width: 35px;
    border-radius: 30%;
}

#pause {
    background-color: #fbb845ca;
    width: 35px;
    border-radius: 30%;
}

#reset {
    background-color: rgba(255, 0, 144, 0.811);
    width: 35px;
    border-radius: 30%;
}